*.log
.DS_Store
.ipynb_checkpoints

doc/*
log/*
pkg/*
tags
tmp
coverage

# Ignore master key for decrypting credentials and more.
/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
